* {
    margin: 0;
    font-size: 1.5vw;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
button:focus {outline:0;}
input:focus {outline:0;}
input::placeholder{color: #bdbdbd;}
select:focus {outline:0;}
i{transition: 250ms;}
label{float: left;}
.logo{
    width: 100%;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo a{
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.logo img{
    width: 5vw
}
.logo h1{
    font-size: 3vw;
    text-transform: uppercase;
    color: black;
    /* blåfarge: #3590F3*/
}
.left-side{
    width: 20vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.profile-container{
    margin: 0 0.2vw;
    max-width: 19vw;
    height: 3vw;
    padding: 0.3vw 0.3vw;
    border-radius: 0.3vw;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.profile-container *{
    margin: 0 0.2vw;
}
.profile-img-container{
    width: 3vw;
    height: 3vw;
    position: relative;
    overflow: hidden;
    border-radius: 0.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-container img{
    max-width: 100%;
}
.profile-container p{
    color: white;
    text-align: center;
    max-width: 16vw;
    overflow: hidden;
}
.middle{
    width: 60vw;
    display: flex;
    justify-content: center;
}
.right-side{
    width: 20vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.login-button{
    padding: 0.5vw 0.5vw;
    margin: 0 0.2vw;
}
header{
    width: 100%;
    height: 2vw;
    background-color: black;
    position: sticky;
    z-index: 10;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
header a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    transition: 500ms;
    text-transform: uppercase;
}
header a:hover{
    color: #bdbdbd;
    transition: 500ms;
}
.active{
    color: #bdbdbd;
    transition: 500ms;
}

.content-wrapper{
    min-height: 100vh;
}

.login-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}
.login-content-container{
    width: 20vw;
    padding: 2vw 0;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginBoxBtnClose{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.login-content h1{
    text-align: center;
}
.login-input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email-pass-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.input-primary{
    border: none;
    background-color: white;
    color: black;
    border-bottom: 0.1vw solid black;
    font-size: 1vw;
    margin: 0.5vw 0;
    width: 15vw;
    transition: 250ms;
}
.input-primary:hover, .input-primary:focus{
    border-color: #1565c0;
}
.input-primary:hover + label, .input-primary:focus + label{
    color: #1565c0;
}
.input-primary::placeholder{
    font-weight: lighter;
    text-transform: capitalize;
}

.login-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5vw 0;
}
.login-btn-container button{
    margin: 0 0.5vw;
    width: 5vw;
    padding: 0.3vw 0;
}
.btn-primary{
    background-color: black;
    color: white;
    transition: 250ms;
    border-radius: 0.2vw;
    border: 0;
    cursor: pointer;
    box-shadow: 0.2vw 0.2vw 0.4vw 0.1vw #bdbdbd ;
    font-size: 1vw;
}
.btn-secondary{
    background-color: white;
    color: black;
    transition: 250ms;
    border-radius: 0.2vw;
    border: 0;
    cursor: pointer;
    box-shadow: 0.2vw 0.2vw 0.4vw 0.1vw #bdbdbd ;
    font-size: 1vw;
}
.btn-primary:hover, .btn-secondary:hover{
    background-color: #1565c0;
    color: white;
}
#loginBoxBtnClose:hover{
    background-color: #bdbdbd; 
    border-radius: 0.2vw;
}
.chat-container{
    width: 30vw;
    height: 20vw;
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
}
.chat-btn-container{
    width: 3vw;
    height: 3vw;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    transition: 250ms;
}
.chat-btn-container:hover{
    background-color: #1565c0;
}
.chat-btn-container i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.chat-box{
    width: 30vw;
    height: 20vw;
    position: absolute;
    bottom: 0;
    right: 0;
    border-left: 0.1vw solid black;
    border-top: 0.1vw solid black;
    border-radius: 0.2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}
.chat-box-close-box a{
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
}
.chat-box-close-box i:hover{
    background-color: #bdbdbd; 
    border-radius: 0.2vw;
}
.chat-box-msg-box{
    width: 27vw;
    height: 15vw;
    overflow: scroll;
}
.chatMsg{
    display: flex;
    justify-content: flex-start;
}
.chatMsg p{
    font-size: 1vw;
}
.chat-box-sendmsg-box input{
    width: 20vw;
}
.chat-box-sendmsg-box button{
    padding: 0.3vw;
}

.hide{
    display: none;
}

footer{
    position: relative;
    height: 5vw;
    width: 100%;
    background-color: black;
}